<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>入力画面</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark mt-3 mb-3">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">登録画面</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/index}">トップ</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/employee/input/}">新規登録</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/employee/list/}">一覧</a>
          </li>
        </ul>
      </div>
    </nav>
    <form action="#" th:action="@{/employee/confirm}" th:object="${employee}" method="post">
      <div>
        <p>ユーザー情報を入力してください。</p>
        <p>個人コードを入力してください。</p>
        <input type="text" th:field="*{code}" />
        <span th:if="${#fields.hasErrors('code')}" th:errors="*{code}" style="color: red"></span>
        <p>名前を入力してください。</p>
        <input type="text" th:field="*{name}" />
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></span>
        <p>パスワードを入力してください。</p>
        <input type="text" th:field="*{password}" />
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red"></span>
        <p>役割を入力してください。</p>
        <input type="text" th:field="*{role}" />
        <span th:if="${#fields.hasErrors('role')}" th:errors="*{role}" style="color: red"></span>
        <p>メールアドレスを入力してください。</p>
        <input type="text" th:field="*{mailadress}" />
        <span th:if="${#fields.hasErrors('mailadress')}" th:errors="*{mailadress}" style="color: red"></span>
      </div>
      <div>
        <button type="submit" class="btn btn-default">確認</button>
      </div>
    </form>
  </body>
</html>